.container {
  padding: 20px;
  color: #6C7581;


  .cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    column-gap: 20px;
    row-gap: 35px;
    font-family: sans-serif;
    padding-top: 30px;
  }
}