.container {
  padding: 20px;
  color: #6C7581;

  .addButton {
    margin-top: 40px;
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-end;

    svg {
      color: #9124A3;
      font-size: 30px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    column-gap: 20px;
    row-gap: 35px;
    font-family: sans-serif;
  }
}