.search {
  display: flex;
  align-items: center;

  input {
    width: 90%;
    color: #6C7581;
    border: none;
    padding-bottom: 10px;
    background: no-repeat center;
    background-image: linear-gradient(0deg, #9c27b0 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #6C7581 1px, hsla(0, 0%, 82%, 0) 0);
    background-size: 0 100%, 100% 100%;
    transition: background 0s ease-out;

    &::placeholder {
      color: #AAAAAA;
    }

    &:focus {
      outline: none;
      transition: 0.5s;
      background-size: 100% 100%, 100% 100%;
    }
  }

  .searchIcon {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 41px;
    border-radius: 50%;

    .icon {
      font-size: 18px;
      color: #999999;
    }
  }
}