.menu_item {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #6C737F;
  width: 219px;
  height: 47px;
  border-radius: 5px;

  &.active {
    background-color: rgba(145, 36, 163, 1);
    font-weight: 400;

    .icon {
      color: rgba(255, 255, 255, 0.90);
    }

    a {
      color: rgba(255, 255, 255, 0.90);
    }

    svg {
      color: rgba(255, 255, 255, 0.90);
    }
  }

  svg {
    color: #3C4858;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #6C737F;
    margin-left: 18px;
    margin-top: 2px;
  }

  span {
    cursor: pointer;
    margin-left: 18px;
    margin-top: 2px;
  }
}